<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>


  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SampleSvcBehaviour">
          <serviceDebug />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="SampleCalcService.CalcService">
        <endpoint address="http://localhost:8080/SampleSvc" binding="basicHttpBinding"
          bindingConfiguration="" name="SampleSvcBasicHttpEndPoint" contract="SampleCalcService.ICalcService" />
        <endpoint address="http://localhost:8080/SampleSvc/max" binding="mexHttpBinding"
          bindingConfiguration="" name="SampleSvcMaxEndPoint" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
